.search-container{
    margin-top:250px;
    padding:0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    max-width: 600px;
    margin-inline: auto;
}

.searchbox-container{
    border:2px solid black;
    padding:10px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap:10px;
    width:100%;
}
.searchbox-icon{
    height:20px;
    width:20px;
}

.search-info-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.search-info-container > div{
    display: flex;

    gap:10px;
}

.searchbox{
    flex-grow: 1;
    outline: none;
    border: none;
    font-size:16px;
    font-weight:500;
    width:100%;

}
.scrap-button{
    padding:10px 20px;
    border-radius: 5px;
    background-color: rgb(166, 194, 159);
    font-weight: 600;
    outline: none;
    border: none;
}
.scrap-button:active{
    transform: scale(0.9);
}

.scrap-button:hover{
    cursor: pointer;
}

.search-suggestion-container{
    display: flex;
    flex-direction: column;
}

.search-suggestions-tags{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

